.container{
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #f1e4ff;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    position: relative;
}

.card,.cards,.image-class{
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 10;
    max-width: 90%;
    position: relative;
}
.cards{
  margin-top: 5%;
}
.image{
    width: 200px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.heading{
    color: #fa1474;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.buttonGroup{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.yesButton{
    background-color: #d20051;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(124, 29, 225, 0.4);
}

.no-btn{
    background-color: #f1f5f9;
    color: #475569;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    position: relative;
}


.no-btn.move {
    position: fixed;   
    z-index: 1000;
}

.our-memories{
  margin: 10%;
  margin-left: 15%;
  align-items: center;
}
.image-class{
  padding: 2rem;
  padding-bottom: 1%;
}
.image-class:hover{
  max-width: 95%;
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.image-class img{
  width: 500px;
  height: 35vh;
}
.image-class:hover .memory-image{
  width: 550px;
  height: 40vh;
  transition: 0.5s ease;
}
.para{
    font-size: 1.5rem;
    color: #881337;
}

@media (min-width: 320px) and (max-width: 500px) {

.card,.cards,.image-class{
    margin-top: 10%;
    padding: 2rem;
    min-width: 70%;
    max-height: max-content;
}
.image{
    width: 180px;
    margin-bottom: 10px;
}
.heading{
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
}
.yesButton{
    padding: 10px 30px;
    font-size: 0.9rem;
    max-width: 90%;
}

.no-btn{
    padding: 10px 30px;
    font-size: 0.8rem;
}
.para{
    font-size: 1.0rem;
}
.image-class{
    transform: translateX(-5px);
  padding-bottom: 1%;
  max-width: 75%;
max-height: max-content;
}
.image-class:hover{
  max-width: 76%;
  transform: translateY(-5px);
  transform: translateX(-6px);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.image-class img{
  width: 210px;
  height: 30vh;
}
.image-class:hover .memory-image{
  width: 215px;
  height: 35vh;
  transition: 0.5s ease;
}
}